@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

@main: #5C1E21;
@black: #333333;

* {
    margin: 0;
    padding: 0;
    outline: none;
    list-style-type: none;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

html {
    font-size: 1px;
}

body {
    font-size: 16rem;
}

.container {
    max-width: 1378rem;
    padding-left: 40px;
    padding-right: 40px;
    margin: 0 auto;
}

@import "partials/_header.less";
