{% set title = 'Главная' %}
{% extends 'layouts/_main.html' %}
{% block content %}

<!-- -------------------------------------------------- -->
<!-- --------------------- hero ----------------------- -->
<!-- -------------------------------------------------- -->
<section class="hero">
    <div class="container">
        <div class="hero__content">
            <div class="hero__text">
                <h1 class="hero__title">
                    Надежная бухгалтерия для вашего бизнеса
                </h1>
            </div>
            <div class="hero__img"></div>
        </div>
    </div>
</section>
<!-- -------------------------------------------------- -->
<!-- ----------------- END hero ----------------------- -->
<!-- -------------------------------------------------- -->

{% endblock %}
