{% set title = 'Главная' %}
{% extends 'layouts/_main.html' %}
{% block content %}

<!-- -------------------------------------------------- -->
<!-- --------------------- hero ----------------------- -->
<!-- -------------------------------------------------- -->
<section class="hero">
    <div class="container">
        <div class="hero__content">
            <div class="hero__text">
                <h1 class="hero__title">
                    Надежная бухгалтерия для вашего бизнеса
                </h1>
                <p class="hero__desc">Спасаем от убытков с 2016 года</p>
                <div class="hero__btnblock">
                    <button class="btn" data-modal-show="1">Как сократить налоги?</button>
                    <div class="hero__btnblock__label">Всего 3 вопроса</div>
                </div>
            </div>
            <div class="hero__img" style="background-image: url(img/hero_bg.jpeg);"></div>
            <div class="hero__btnblock__mobile">
                <button class="btn" data-modal-show="1">Как сократить налоги?</button>
                <div class="hero__btnblock__label">Всего 3 вопроса</div>
            </div>
        </div>
    </div>
</section>
<!-- -------------------------------------------------- -->
<!-- ----------------- END hero ----------------------- -->
<!-- -------------------------------------------------- -->

<!-- -------------------------------------------------- -->
<!-- ----------------- services ----------------------- -->
<!-- -------------------------------------------------- -->
<section class="services" id="services">
    <div class="container">
        <div class="services__cotent">
            <h2 class="sec__title center">Помогаем безопасно зарабатывать деньги</h2>
            <div class="services__items">
                <div class="services__item">
                    <img src="img/services_1.svg" alt="" class="services__item__icon">
                    <div class="services__item__title">Бухгалтерская отчетность</div>
                    <button class="btn services__item__btn" data-modal-show="3">Подробнее</button>
                </div>
                <div class="services__item">
                    <img src="img/services_2.svg" alt="" class="services__item__icon">
                    <div class="services__item__title">Полное бухгалтерское сопровождение</div>
                    <button class="btn services__item__btn" data-modal-show="3">Подробнее</button>
                </div>
                <div class="services__item">
                    <img src="img/services_3.svg" alt="" class="services__item__icon">
                    <div class="services__item__title">Налоговые консультанты</div>
                    <button class="btn services__item__btn" data-modal-show="3">Подробнее</button>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- -------------------------------------------------- -->
<!-- ------------- END services ----------------------- -->
<!-- -------------------------------------------------- -->

<!-- -------------------------------------------------- -->
<!-- ------------------ command ----------------------- -->
<!-- -------------------------------------------------- -->
<section class="command" id="command">
    <div class="container">
        <div class="command__content">
            <h2 class="sec__title center">Чем именно мы можем быть полезны?</h2>
            <ul class="sec__list">
                <li>
                    <img src="img/sec_list.svg" alt="">
                    Консультируем, просчитываем наиболее выгодную систему налогооблажения
                </li>
                <li>
                    <img src="img/sec_list.svg" alt="">
                    Расскажем о тонких местах бизнеса и налоговых рисках
                </li>
                <li>
                    <img src="img/sec_list.svg" alt="">
                    Ведем налоговый, бухгалтерский и финансовый учет
                </li>
            </ul>

            <div class="command__items">
                <div class="command__item">
                    <div class="command__item__img" style="background-image: url(img/command_1.jpeg);"></div>
                    <div class="command__item__text">
                        <div class="command__item__fio">
                            Омельченко <br>
                            Ольга Александровна
                        </div>
                        <div class="command__item__role">
                            Учредитель компании <br>
                            Ангел харнитель бизнеса
                        </div>
                        <button class="btn" data-modal-show="4">Подробнее</button>
                    </div>
                </div>
                <div class="command__item">
                    <div class="command__item__img" style="background-image: url(img/command_2.jpeg);"></div>
                    <div class="command__item__text">
                        <div class="command__item__fio">
                            Фидулова <br>
                            Татьяна Анатольевна
                        </div>
                        <div class="command__item__role">
                            Главный бухгалтер <br>
                            Стаж работы - более 20-ти лет
                        </div>
                        <button class="btn">Подробнее</button>
                    </div>
                </div>
                <div class="command__item">
                    <div class="command__item__img" style="background-image: url(img/command_3.jpeg);"></div>
                    <div class="command__item__text">
                        <div class="command__item__fio">
                            Кульмухаметов <br>
                            Ильшат Рашитович
                        </div>
                        <div class="command__item__role">
                            Бухгалтер <br>
                            Стаж работы - 1 год
                        </div>
                        <button class="btn">Подробнее</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- -------------------------------------------------- -->
<!-- -------------- END command ----------------------- -->
<!-- -------------------------------------------------- -->

<!-- ------------------------------------------------------- -->
<!-- ------------------ optimization ----------------------- -->
<!-- ------------------------------------------------------- -->
<section class="optimization">
    <div class="container">
        <div class="optimization__content">
            <img src="img/optimization.png" alt="" class="optimization__img">
            <h2 class="sec__title center">Оптимизируем Вашу бухгалтерию </h2>
            <p class="sec__desc center">в первый месяц сотрудничества</p>
            <button class="btn" data-modal-show="optimization">Получить оптимизацию</button>
        </div>
    </div>
</section>
<!-- ------------------------------------------------------- -->
<!-- -------------- END optimization ----------------------- -->
<!-- ------------------------------------------------------- -->

<!-- ------------------------------------------------------- -->
<!-- --------------------- packages ------------------------ -->
<!-- ------------------------------------------------------- -->
<section class="packages">
    <div class="container">
        <div class="packages__content">
            <h2 class="sec__title center">Выберите пакет услуг</h2>
            <div class="packages__items">
                <div class="packages__item turquoise">
                    <div class="packages__item__title">Старт</div>
                    <ul class="packages__item__list">
                        <li>
                            <svg class="packages__item__list__img" width="15" height="13" viewBox="0 0 15 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M14.6332 0.226073C15.0607 0.5758 15.1237 1.20582 14.7739 1.63327L6.38097 11.8913C5.70231 12.7208 4.49044 12.8679 3.63306 12.2248L0.39997 9.80003C-0.0418579 9.46866 -0.131401 8.84186 0.199969 8.40003C0.53134 7.9582 1.15814 7.86866 1.59997 8.20003L4.83306 10.6248L13.226 0.366792C13.5757 -0.0606528 14.2058 -0.123655 14.6332 0.226073Z" fill="#27A891"/>
                            </svg>
                            Ведение бухгалтерии
                        </li>
                        <li>
                            <svg class="packages__item__list__img" width="15" height="13" viewBox="0 0 15 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M14.6332 0.226073C15.0607 0.5758 15.1237 1.20582 14.7739 1.63327L6.38097 11.8913C5.70231 12.7208 4.49044 12.8679 3.63306 12.2248L0.39997 9.80003C-0.0418579 9.46866 -0.131401 8.84186 0.199969 8.40003C0.53134 7.9582 1.15814 7.86866 1.59997 8.20003L4.83306 10.6248L13.226 0.366792C13.5757 -0.0606528 14.2058 -0.123655 14.6332 0.226073Z" fill="#27A891"/>
                            </svg>
                            Налоговая отчетность (нулевая без сотрудников или минимальный оборот)
                        </li>
                    </ul>
                </div>
                <div class="packages__item blue">
                    <div class="packages__item__title">Развитие</div>
                    <ul class="packages__item__list">
                        <li>
                            <svg class="packages__item__list__img" width="15" height="13" viewBox="0 0 15 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M14.6332 0.226073C15.0607 0.5758 15.1237 1.20582 14.7739 1.63327L6.38097 11.8913C5.70231 12.7208 4.49044 12.8679 3.63306 12.2248L0.39997 9.80003C-0.0418579 9.46866 -0.131401 8.84186 0.199969 8.40003C0.53134 7.9582 1.15814 7.86866 1.59997 8.20003L4.83306 10.6248L13.226 0.366792C13.5757 -0.0606528 14.2058 -0.123655 14.6332 0.226073Z" fill="#27A891"/>
                            </svg>
                            Полное бухгалтерское сопровождение с созданием первичных документов начисление зп сотрудникам
                        </li>
                    </ul>
                </div>
                <div class="packages__item green">
                    <div class="packages__item__title">Успех</div>
                    <ul class="packages__item__list">
                        <li>
                            <svg class="packages__item__list__img" width="15" height="13" viewBox="0 0 15 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M14.6332 0.226073C15.0607 0.5758 15.1237 1.20582 14.7739 1.63327L6.38097 11.8913C5.70231 12.7208 4.49044 12.8679 3.63306 12.2248L0.39997 9.80003C-0.0418579 9.46866 -0.131401 8.84186 0.199969 8.40003C0.53134 7.9582 1.15814 7.86866 1.59997 8.20003L4.83306 10.6248L13.226 0.366792C13.5757 -0.0606528 14.2058 -0.123655 14.6332 0.226073Z" fill="#27A891"/>
                            </svg>
                            Функции бухгалтера
                        </li>
                        <li>
                            <svg class="packages__item__list__img" width="15" height="13" viewBox="0 0 15 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M14.6332 0.226073C15.0607 0.5758 15.1237 1.20582 14.7739 1.63327L6.38097 11.8913C5.70231 12.7208 4.49044 12.8679 3.63306 12.2248L0.39997 9.80003C-0.0418579 9.46866 -0.131401 8.84186 0.199969 8.40003C0.53134 7.9582 1.15814 7.86866 1.59997 8.20003L4.83306 10.6248L13.226 0.366792C13.5757 -0.0606528 14.2058 -0.123655 14.6332 0.226073Z" fill="#27A891"/>
                            </svg>
                            Работа с внешним специалистом по первичной документации
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ------------------------------------------------------- -->
<!-- ----------------- END packages ------------------------ -->
<!-- ------------------------------------------------------- -->

<!-- ------------------------------------------------------- -->
<!-- ----------------------- calc -------------------------- -->
<!-- ------------------------------------------------------- -->
<section class="calc" id="calc">
    <div class="container">
        <div class="calc__content">
            <h2 class="sec__title center">Калькулятор бухгалтерских услуг</h2>
            <div class="calc__main">
                <div class="calc__left" data-calc>
                    <div class="calc__left__title">Бухгалтерское сопровождение</div>
                    <div class="calc__left__group">
                        <div class="calc__left__group__label">Форма организации</div>
                        <div class="calc__left__group__inputs">
                            <label for="ip" class="ckeckbox">
                                <input type="radio" id="ip" name="calc_form_organization" value="ИП" checked>
                                <span class="box">
                                    <div class="box__circle">
                                        <svg width="11" height="9" viewBox="0 0 11 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M10.731 0.161162C11.0445 0.410474 11.0907 0.859602 10.8342 1.16432L4.67942 8.47703C4.18174 9.06834 3.29304 9.1732 2.66429 8.7148L0.293375 6.9862C-0.0306304 6.74998 -0.0962949 6.30314 0.146709 5.98818C0.389713 5.67321 0.849364 5.60938 1.17337 5.8456L3.54429 7.57419L9.69908 0.261477C9.95555 -0.0432376 10.4176 -0.0881505 10.731 0.161162Z" fill="#5C1E21"/>
                                        </svg>
                                    </div>
                                    <div class="box_label">ИП</div>
                                </span>
                            </label>
                            <label for="ooo" class="ckeckbox">
                                <input type="radio" id="ooo" name="calc_form_organization" value="ООО">
                                <span class="box">
                                    <div class="box__circle">
                                        <svg width="11" height="9" viewBox="0 0 11 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M10.731 0.161162C11.0445 0.410474 11.0907 0.859602 10.8342 1.16432L4.67942 8.47703C4.18174 9.06834 3.29304 9.1732 2.66429 8.7148L0.293375 6.9862C-0.0306304 6.74998 -0.0962949 6.30314 0.146709 5.98818C0.389713 5.67321 0.849364 5.60938 1.17337 5.8456L3.54429 7.57419L9.69908 0.261477C9.95555 -0.0432376 10.4176 -0.0881505 10.731 0.161162Z" fill="#5C1E21"/>
                                        </svg>
                                    </div>
                                    <div class="box_label">ООО</div>
                                </span>
                            </label>
                        </div>
                    </div>
                    <div class="calc__left__group__wrapper">
                        <div class="calc__left__group">
                            <div class="calc__left__group__label">Тип налогообложения</div>
                            <div class="select__wrapper">
                                <svg class="select__arrow" width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M13.3535 1.35348L12.6464 0.646371L6.99996 6.29282L1.35352 0.646372L0.646408 1.35348L6.99996 7.70703L13.3535 1.35348Z" fill="#333333"/>
                                </svg>
                                <select class="select" name="calc_type_taxation" id="">
                                    <option value="ОСН">ОСН</option>
                                    <option value='УСН "доходы"'>УСН "доходы"</option>
                                    <option value='УСН "доход минус расход"'>УСН "доход минус расход"</option>
                                    <option value="ЕНВД">ЕНВД</option>
                                </select>
                            </div>
                        </div>
                        <div class="calc__left__group">
                            <div class="calc__left__group__label">Кол-во документов поступления</div>
                            <div class="select__wrapper">
                                <svg class="select__arrow" width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M13.3535 1.35348L12.6464 0.646371L6.99996 6.29282L1.35352 0.646372L0.646408 1.35348L6.99996 7.70703L13.3535 1.35348Z" fill="#333333"/>
                                </svg>
                                <select class="select" name="calc_incoming_documents" id="">
                                    <option value="0">0-10</option>
                                    <option value="800">10-20</option>
                                    <option value="1600">20-30</option>
                                    <option value="2400">30-50</option>
                                    <option value="3200">50-80</option>
                                    <option value="4000">80-100</option>
                                    <option value="5000">100-150</option>
                                    <option value="6000">150-200</option>
                                    <option value="7000">200-300</option>
                                    <option value="8000">300-…</option>
                                </select>
                            </div>
                        </div>
                        <div class="calc__left__group">
                            <div class="calc__left__group__label">Кол-во документов реализации</div>
                            <div class="select__wrapper">
                                <svg class="select__arrow" width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M13.3535 1.35348L12.6464 0.646371L6.99996 6.29282L1.35352 0.646372L0.646408 1.35348L6.99996 7.70703L13.3535 1.35348Z" fill="#333333"/>
                                </svg>
                                <select class="select" name="calc_implementation_documents" id="">
                                    <option value="0">0-10</option>
                                    <option value="800">10-20</option>
                                    <option value="1600">20-30</option>
                                    <option value="2400">30-50</option>
                                    <option value="3200">50-80</option>
                                    <option value="4000">80-100</option>
                                    <option value="5000">100-150</option>
                                    <option value="6000">150-200</option>
                                    <option value="7000">200-300</option>
                                    <option value="8000">300-…</option>
                                </select>
                            </div>
                        </div>
                        <div class="calc__left__group">
                            <div class="calc__left__group__label">Число сотрудников в штате</div>
                            <input name="calc_number_employees_staff" type="number" min="0" placeholder="" value="0">
                        </div>
                    </div>
                </div>
                <div class="calc__right">
                    <div class="calc__right__price"><span data-calc-result>1 000</span> ₽ </div>
                    <div class="calc__right__form">
                        <div class="calc__right__form__title">Нужен индивидуальный расчет?</div>
                        <div class="calc__right__form__desc">Оставьте заявку прямо сейчас</div>
                        <form action="" data-validate='form_calc'>
                            <input type="text" placeholder="Ваше имя">
                            <input data-mask="phone" name="phone" type="tel" placeholder="+7 (___) ___-__-__">
                            <div class="formpolitics">
                                <label for="politics" class="formpolitics__checkbox">
                                    <input type="checkbox" id="politics" checked>
                                    <div class="formpolitics__checkbox__box">
                                        <svg width="11" height="9" viewBox="0 0 11 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M10.731 0.161162C11.0445 0.410474 11.0907 0.859602 10.8342 1.16432L4.67942 8.47703C4.18174 9.06834 3.29304 9.1732 2.66429 8.7148L0.293375 6.9862C-0.0306304 6.74998 -0.0962949 6.30314 0.146709 5.98818C0.389713 5.67321 0.849364 5.60938 1.17337 5.8456L3.54429 7.57419L9.69908 0.261477C9.95555 -0.0432376 10.4176 -0.0881505 10.731 0.161162Z" fill="white"/>
                                        </svg>
                                    </div>
                                </label>
                                <div class="formpolitics__text">
                                    Я принимаю условия <a href="">пользовательского соглашения</a>
                                </div>
                            </div>
                            <button class="btn">Отправить</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ------------------------------------------------------- -->
<!-- ------------------- END calc -------------------------- -->
<!-- ------------------------------------------------------- -->

<!-- ------------------------------------------------------- -->
<!-- -------------------- consult -------------------------- -->
<!-- ------------------------------------------------------- -->
<section class="consult">
    <div class="container">
        <div class="consult__content">
            <h2 class="sec__title center">Бесплатная вводная консультация</h2>
            <p class="sec__desc center">с Ольгой Омельченко, руководителем компании </p>
            <div class="consult__main">
                <div class="consult__main__img" style="background-image: url(img/consult.jpg);"></div>
                <div class="consult__main__text">
                    <div class="consult__main__title">Для чего нужна консультация?</div>
                    <div class="consult__main__text__text">
                        <p>На вводной консультации мы обсудим ваши задачи и способы их решения</p>
                        <p>Консультация предоставляется бесплатно, для того, чтобы вы познакомились со мной и смогли оценить подход к работе и экспертность.</p>
                        <p>В 2021 году я лично провела больше 160 консультаций, и я понимаю, как важно клиенту найти своего специалиста, которому можно будет доверять.</p>
                        <p>Консультация не обязывает вас к дальнейшей покупке</p>
                    </div>
                    <button class="btn" data-modal-show="2">Получить консультацию</button>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ------------------------------------------------------- -->
<!-- ---------------- END consult -------------------------- -->
<!-- ------------------------------------------------------- -->

<!-- ------------------------------------------------------- -->
<!-- -------------------- reviews -------------------------- -->
<!-- ------------------------------------------------------- -->
<section class="reviews" id="reviews">
    <div class="container">
        <div class="reviews__content">
            <h2 class="sec__title center">Отзывы</h2>
            <p class="sec__desc center">о работе нашей компании</p>
            <div class="reviews__items">
                <div class="reviews__flamp">
                    <a class="flamp-widget" href="//chelyabinsk.flamp.ru/firm/dialog_ehkspert_ooo_yuridicheskaya_kompaniya-70000001021741868"  data-flamp-widget-type="responsive-new" data-flamp-widget-id="70000001021741868" data-flamp-widget-width="100%" data-flamp-widget-count="2">Отзывы о нас на Флампе</a>
                    <script>!function(d,s){var js,fjs=d.getElementsByTagName(s)[0];js=d.createElement(s);js.async=1;js.src="//widget.flamp.ru/loader.js";fjs.parentNode.insertBefore(js,fjs);}(document,"script");</script>
                </div>
                <div class="reviews__yandex">
                    <iframe src="https://yandex.ru/maps-reviews-widget/227041558441?comments"></iframe>
                    <!-- <a href="https://yandex.ru/maps/org/dialog_ekspert/227041558441/" target="_blank" style="box-sizing:border-box;text-decoration:none;color:#b3b3b3;font-size:10px;font-family:YS Text,sans-serif;padding:0 20px;position:absolute;bottom:8px;width:100%;text-align:center;left:0" rel="noopener">Диалог Эксперт на карте Челябинска — Яндекс.Карты</a> -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ------------------------------------------------------- -->
<!-- ---------------- END reviews -------------------------- -->
<!-- ------------------------------------------------------- -->

<!-- ------------------------------------------------------- -->
<!-- --------------------- preims -------------------------- -->
<!-- ------------------------------------------------------- -->
<section class="preims">
    <div class="container">
        <div class="preims__content">
            <h2 class="sec__title center">Преимущества</h2>
            <p class="sec__desc center">при работе с нами</p>
            <div class="preims__items">
                <div class="preims__item">
                    <img src="img/preims_1.svg" alt="" class="preims__item__icon">
                    <div class="preims__item__title">Доступ к базе 1С 24 часа</div>
                </div>
                <div class="preims__item">
                    <img src="img/preims_2.svg" alt="" class="preims__item__icon">
                    <div class="preims__item__title">Материальная ответственность за ведение бухгалтерии вашей компании</div>
                </div>
                <div class="preims__item">
                    <img src="img/preims_3.svg" alt="" class="preims__item__icon">
                    <div class="preims__item__title">Ставим задачи исходя из цели бизнеса минимум с минимумом рисков</div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ------------------------------------------------------- -->
<!-- ----------------- END preims -------------------------- -->
<!-- ------------------------------------------------------- -->

<!-- ------------------------------------------------------- -->
<!-- ------------------- contacts -------------------------- -->
<!-- ------------------------------------------------------- -->
<section class="contacts">
    <div class="container">
        <div class="contacts__content">
            <a href="" class="contacts__phonebtn">+7 351 217 02 12</a>
            <div class="contacts__content__desc">Позвоните, мы на связи!</div>
        </div>
    </div>
</section>
<!-- ------------------------------------------------------- -->
<!-- --------------- END contacts -------------------------- -->
<!-- ------------------------------------------------------- -->

{% endblock %}
