{% set title = 'Главная' %}
{% extends 'layouts/_main.html' %}
{% block content %}

<!-- -------------------------------------------------- -->
<!-- --------------------- hero ----------------------- -->
<!-- -------------------------------------------------- -->
<section class="hero">
    <div class="container">
        <div class="hero__content">
            <div class="hero__text">
                <h1 class="hero__title">
                    Надежная бухгалтерия для вашего бизнеса
                </h1>
                <p class="hero__desc">Спасаем от убытков с 2016 года</p>
                <div class="hero__btnblock">
                    <button class="btn">Как сократить налоги?</button>
                    <div class="hero__btnblock__label">Всего 3 вопроса</div>
                </div>
            </div>
            <div class="hero__img" style="background-image: url(img/hero_bg.jpeg);"></div>
            <div class="hero__btnblock__mobile">
                <button class="btn">Как сократить налоги?</button>
                <div class="hero__btnblock__label">Всего 3 вопроса</div>
            </div>
        </div>
    </div>
</section>
<!-- -------------------------------------------------- -->
<!-- ----------------- END hero ----------------------- -->
<!-- -------------------------------------------------- -->

<!-- -------------------------------------------------- -->
<!-- ----------------- services ----------------------- -->
<!-- -------------------------------------------------- -->
<section class="services">
    <div class="container">
        <div class="services__cotent">
            <h2 class="sec__title center">Помогаем безопасно зарабатывать деньги</h2>
            <div class="services__items">
                <div class="services__item">
                    <img src="img/services_1.svg" alt="" class="services__item__icon">
                    <div class="services__item__title">Бухгалтерская отчетность</div>
                    <button class="btn services__item__btn">Подробнее</button>
                </div>
                <div class="services__item">
                    <img src="img/services_2.svg" alt="" class="services__item__icon">
                    <div class="services__item__title">Полное бухгалтерское сопровождение</div>
                    <button class="btn services__item__btn">Подробнее</button>
                </div>
                <div class="services__item">
                    <img src="img/services_3.svg" alt="" class="services__item__icon">
                    <div class="services__item__title">Налоговые конультанты</div>
                    <button class="btn services__item__btn">Подробнее</button>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- -------------------------------------------------- -->
<!-- ------------- END services ----------------------- -->
<!-- -------------------------------------------------- -->

<!-- -------------------------------------------------- -->
<!-- ------------------ command ----------------------- -->
<!-- -------------------------------------------------- -->
<section class="command">
    <div class="container">
        <div class="command__content">
            <h2 class="sec__title center">Чем именно мы можем быть полезны?</h2>
            <ul class="sec__list">
                <li>
                    <img src="img/sec_list.svg" alt="">
                    Консультируем, просчитываем наиболее выгодную систему налогооблажения
                </li>
                <li>
                    <img src="img/sec_list.svg" alt="">
                    Расскажем о тонким местах бизнеса и налоговых рисках
                </li>
                <li>
                    <img src="img/sec_list.svg" alt="">
                    Ведем налоговый, бухгалтерский и финансовый учет
                </li>
            </ul>

            <div class="command__items">
                <div class="command__item">
                    <div class="command__item__img" style="background-image: url(img/command_1.jpeg);"></div>
                    <div class="command__item__text">
                        <div class="command__item__fio">
                            Омельченко <br>
                            Ольга Александровна
                        </div>
                        <div class="command__item__role">
                            Учредитель компании <br>
                            Ангел харнитель бизнеса
                        </div>
                        <button class="btn">Подробнее</button>
                    </div>
                </div>
                <div class="command__item">
                    <div class="command__item__img" style="background-image: url(img/command_2.jpeg);"></div>
                    <div class="command__item__text">
                        <div class="command__item__fio">
                            Фидулова <br>
                            Татьяна Анатольевна
                        </div>
                        <div class="command__item__role">
                            Главный бухгалтер <br>
                            Стаж работы - более 20-ти лет
                        </div>
                        <button class="btn">Подробнее</button>
                    </div>
                </div>
                <div class="command__item">
                    <div class="command__item__img" style="background-image: url(img/command_3.jpeg);"></div>
                    <div class="command__item__text">
                        <div class="command__item__fio">
                            Кульмухаметов <br>
                            Ильшат Рашитович
                        </div>
                        <div class="command__item__role">
                            Бухгалтер <br>
                            Стаж работы - 1 год
                        </div>
                        <button class="btn">Подробнее</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- -------------------------------------------------- -->
<!-- -------------- END command ----------------------- -->
<!-- -------------------------------------------------- -->

<!-- ------------------------------------------------------- -->
<!-- ------------------ optimization ----------------------- -->
<!-- ------------------------------------------------------- -->
<section class="optimization">
    <div class="container">
        <div class="optimization__content">
            <img src="img/optimization.png" alt="" class="optimization__img">
            <h2 class="sec__title center">Оптимизируем Вашу бухгалтерию </h2>
            <p class="sec__desc center">в первый месяц сотрудничества</p>
            <button class="btn">Получить оптимизацию</button>
        </div>
    </div>
</section>
<!-- ------------------------------------------------------- -->
<!-- -------------- END optimization ----------------------- -->
<!-- ------------------------------------------------------- -->

{% endblock %}
